{% extends 'base.html' %}
{% block content %}









<h1>{{ genre_name }}</h1>

<div class="row">

    {% for movie in movies %}
        <div class="col col-md-auto">
        <div class="card text-center border-dark mb-3 bg-light mb-3" style="width: 15rem;">
                <a href="{{ movie.url }}">
                    <img class="card-img-top" src="{{ movie.poster }}" width="200" height="260" alt="Card image cap">

                    <div class="card-header">
                                <h4 class="card-title">{{ movie.title }}</h4>
                        </div>
                </a>
        </div>
        </div>
    {% endfor %}

</div>






<!--
<div class="container my-3">
        <h1>{{ genre_name }}</h1>
        {% if movie_list %}
        <div class="category-group">
                {% for movie in movie_list %}
                        <div class="card" style="width: 15rem;">
                        <a href="https://oh16.notion.site/0603-2f23790a97ab4364b08edf3de958dfd4">
                                <img class="card-img-top" src="https://search.pstatic.net/sunny/?src=https%3A%2F%2Fimage.ohou.se%2Fi%2Fbucketplace-v2-development%2Fuploads%2Fproductions%2Fdescriptions%2Furl%2F163514095644161671.jpg&type=a340" alt="Card image cap">
                                <div class="card-body">
                                 <h5 class="card-title">{{ movie }}</h5>
                                </div>
                               </a>
                        </div>
                {% endfor %}
                </div>

        {% endif %}
</div>

<div class="container my-3">
        <h1>{{ genre_name }}</h1>
        {% if movie_list %}
                <div class="card" >
                {% for movie in movie_list %}
                        <a href="https://oh16.notion.site/0603-2f23790a97ab4364b08edf3de958dfd4">
                                {{ movie }}
                               <img src="https://search.pstatic.net/sunny/?src=https%3A%2F%2Fimage.ohou.se%2Fi%2Fbucketplace-v2-development%2Fuploads%2Fproductions%2Fdescriptions%2Furl%2F163514095644161671.jpg&type=a340"
                                      width=10%>
                        </a>
                {% endfor %}
                </div>
        {% endif %}
</div>
-->
{% endblock %}