<title>CatFlex_홈</title>
<h1 class="text-gray-500 text-xs tracking-widest title-font mb-1" _msthash="1093978" _msttexthash="84188" _msthidden="1">Main page</h1>
<section class="text-gray-600 body-font" _msthidden="32">
  <div class="container px-5 py-24 mx-auto" _msthidden="32">
    <div class="flex flex-wrap -m-4" _msthidden="32">
      <div class="lg:w-1/4 md:w-1/2 p-4 w-full" _msthidden="4">
        <a class="block relative h-48 rounded overflow-hidden" _msthidden="1">
          <img alt="ecommerce" class="object-cover object-center w-full h-full block" src="https://dummyimage.com/260x100" _msthidden="A" _msthiddenattr="857275" _mstalt="134966">  <img alt="ecommerce" class="object-cover object-center w-full h-full block" src="https://dummyimage.com/260x100" _msthidden="A" _msthiddenattr="857275" _mstalt="134966">
          <img alt="ecommerce" class="object-cover object-center w-full h-full block" src="https://dummyimage.com/260x100" _msthidden="A" _msthiddenattr="857275" _mstalt="134966">
          <img alt="ecommerce" class="object-cover object-center w-full h-full block" src="https://dummyimage.com/260x100" _msthidden="A" _msthiddenattr="857275" _mstalt="134966">
          <img alt="ecommerce" class="object-cover object-center w-full h-full block" src="https://dummyimage.com/260x100" _msthidden="A" _msthiddenattr="857275" _mstalt="134966">

        </a>
        <div class="mt-4" _msthidden="3">
          <h3 class="text-gray-500 text-xs tracking-widest title-font mb-1" _msthash="1093976" _msttexthash="84188" _msthidden="1">category</h3>
          <h2 class="text-gray-900 title-font text-lg font-medium" _msthash="1093977" _msttexthash="204971" _msthidden="1"> Genre</h2>
        </div>
      </div>
      <div class="lg:w-1/4 md:w-1/2 p-4 w-full" _msthidden="4">
        <a class="block relative h-48 rounded overflow-hidden" _msthidden="1">
          <img alt="ecommerce" class="object-cover object-center w-full h-full block" src="https://dummyimage.com/260x100" _msthidden="A" _msthiddenattr="857276" _mstalt="134966">
          <img alt="ecommerce" class="object-cover object-center w-full h-full block" src="https://dummyimage.com/260x100" _msthidden="A" _msthiddenattr="857276" _mstalt="134966">
          <img alt="ecommerce" class="object-cover object-center w-full h-full block" src="https://dummyimage.com/260x100" _msthidden="A" _msthiddenattr="857276" _mstalt="134966">
 <img alt="ecommerce" class="object-cover object-center w-full h-full block" src="https://dummyimage.com/260x100" _msthidden="A" _msthiddenattr="857276" _mstalt="134966">
             <img alt="ecommerce" class="object-cover object-center w-full h-full block" src="https://dummyimage.com/260x100" _msthidden="A" _msthiddenattr="857276" _mstalt="134966">
        </a>
        <div class="mt-4" _msthidden="3">
          <h3 class="text-gray-500 text-xs tracking-widest title-font mb-1" _msthash="1093978" _msttexthash="84188" _msthidden="1">CATEGORY</h3>
          <h2 class="text-gray-900 title-font text-lg font-medium" _msthash="1093979" _msttexthash="232921" _msthidden="1">watched movies</h2>

        </div>
      </div>
      <div class="lg:w-1/4 md:w-1/2 p-4 w-full" _msthidden="4">
        <a class="block relative h-48 rounded overflow-hidden" _msthidden="1">
          <img alt="ecommerce" class="object-cover object-center w-full h-full block" src="https://dummyimage.com/260x100" _msthidden="A" _msthiddenattr="857277" _mstalt="134966">
           <img alt="ecommerce" class="object-cover object-center w-full h-full block" src="https://dummyimage.com/260x100" _msthidden="A" _msthiddenattr="857277" _mstalt="134966">
  <img alt="ecommerce" class="object-cover object-center w-full h-full block" src="https://dummyimage.com/260x100" _msthidden="A" _msthiddenattr="857277" _mstalt="134966">
         <img alt="ecommerce" class="object-cover object-center w-full h-full block" src="https://dummyimage.com/260x100" _msthidden="A" _msthiddenattr="857277" _mstalt="134966">
         <img alt="ecommerce" class="object-cover object-center w-full h-full block" src="https://dummyimage.com/260x100" _msthidden="A" _msthiddenattr="857277" _mstalt="134966">

        </a>
        <div class="mt-4" _msthidden="3">
          <h3 class="text-gray-500 text-xs tracking-widest title-font mb-1" _msthash="1093980" _msttexthash="84188" _msthidden="1">category</h3>
          <h2 class="text-gray-900 title-font text-lg font-medium" _msthash="1093981" _msttexthash="96746" _msthidden="1">similar movie</h2>
          <p class="mt-1" _msthash="1049354" _msttexthash="34554" _msthidden="1"></p>
        </div>

        </div>

    </div>
  </div>
</section>
